In [203]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import random
import numpy as np
import json
from scipy import stats
import plotly
from plotly.graph_objs import Scatter, Layout

In [2]:
df = pd.read_csv('2008.csv') #Carga el CSV entero
#df # df por data frame es la estructura de datos que representa tablas en pandas https://pandas.pydata.org/pandas-docs/stable/dsintro.html

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
7,2008,1,3,4,1039.0,1040,1132.0,1150,WN,535,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,2008,1,3,4,617.0,615,652.0,650,WN,11,...,6.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1620.0,1620,1639.0,1655,WN,810,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
10,2008,1,3,4,706.0,700,916.0,915,WN,100,...,5.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
12,2008,1,3,4,1426.0,1430,1426.0,1425,WN,829,...,9.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
13,2008,1,3,4,715.0,715,720.0,710,WN,1016,...,7.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
14,2008,1,3,4,1702.0,1700,1651.0,1655,WN,1827,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15,2008,1,3,4,1029.0,1020,1021.0,1010,WN,2272,...,6.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
17,2008,1,3,4,754.0,745,940.0,955,WN,1144,...,5.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
19,2008,1,3,4,1416.0,1325,1512.0,1435,WN,54,...,2.0,5.0,0,NaN,0,12.0,0.0,0.0,0.0,25.0
20,2008,1,3,4,706.0,705,807.0,810,WN,68,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
21,2008,1,3,4,1657.0,1625,1754.0,1735,WN,623,...,5.0,5.0,0,NaN,0,7.0,0.0,0.0,0.0,12.0
22,2008,1,3,4,1900.0,1840,1956.0,1950,WN,717,...,2.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
23,2008,1,3,4,1039.0,1030,1133.0,1140,WN,1244,...,2.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
24,2008,1,3,4,801.0,800,902.0,910,WN,2101,...,3.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
25,2008,1,3,4,1520.0,1455,1619.0,1605,WN,2553,...,2.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
26,2008,1,3,4,1422.0,1255,1657.0,1610,WN,188,...,6.0,6.0,0,NaN,0,40.0,0.0,0.0,0.0,7.0
27,2008,1,3,4,1954.0,1925,2239.0,2235,WN,1754,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
28,2008,1,3,4,636.0,635,921.0,945,WN,2275,...,5.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
29,2008,1,3,4,734.0,730,958.0,1020,WN,550,...,2.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009698,2008,12,13,6,1625.0,1635,1744.0,1758,DL,1605,...,12.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009699,2008,12,13,6,1254.0,1221,1420.0,1359,DL,1609,...,9.0,13.0,0,NaN,0,0.0,0.0,0.0,0.0,21.0
7009700,2008,12,13,6,1842.0,1845,1953.0,2006,DL,1610,...,8.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009701,2008,12,13,6,1528.0,1500,1720.0,1642,DL,1611,...,4.0,29.0,0,NaN,0,16.0,0.0,10.0,0.0,12.0
7009702,2008,12,13,6,1531.0,1522,1822.0,1823,DL,1612,...,9.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009703,2008,12,13,6,1910.0,1910,2017.0,2016,DL,1612,...,5.0,24.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009704,2008,12,13,6,1441.0,1445,1604.0,1622,DL,1613,...,8.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009705,2008,12,13,6,921.0,830,1112.0,1008,DL,1616,...,8.0,21.0,0,NaN,0,51.0,0.0,13.0,0.0,0.0
7009706,2008,12,13,6,1435.0,1440,1701.0,1704,DL,1618,...,20.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009707,2008,12,13,6,1750.0,1755,2010.0,2015,DL,1618,...,7.0,20.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009708,2008,12,13,6,706.0,710,850.0,837,DL,1619,...,23.0,32.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009709,2008,12,13,6,1552.0,1520,1735.0,1718,DL,1620,...,9.0,7.0,0,NaN,0,0.0,0.0,0.0,0.0,17.0
7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,1621,...,9.0,18.0,0,NaN,0,3.0,0.0,0.0,0.0,22.0
7009711,2008,12,13,6,1033.0,1041,1255.0,1303,DL,1622,...,9.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009712,2008,12,13,6,840.0,843,1025.0,1021,DL,1624,...,6.0,46.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009713,2008,12,13,6,810.0,815,1504.0,1526,DL,1625,...,7.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009714,2008,12,13,6,547.0,545,646.0,650,DL,1627,...,8.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009715,2008,12,13,6,848.0,850,1024.0,1005,DL,1628,...,4.0,44.0,0,NaN,0,0.0,0.0,19.0,0.0,0.0
7009716,2008,12,13,6,936.0,936,1114.0,1119,DL,1630,...,4.0,24.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009717,2008,12,13,6,657.0,600,904.0,749,DL,1631,...,15.0,34.0,0,NaN,0,0.0,57.0,18.0,0.0,0.0
7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,1631,...,8.0,32.0,0,NaN,0,1.0,0.0,19.0,0.0,79.0
7009719,2008,12,13,6,638.0,640,808.0,753,DL,1632,...,14.0,26.0,0,NaN,0,0.0,0.0,15.0,0.0,0.0
7009720,2008,12,13,6,756.0,800,1032.0,1026,DL,1633,...,23.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009721,2008,12,13,6,612.0,615,923.0,907,DL,1635,...,5.0,23.0,0,NaN,0,0.0,0.0,16.0,0.0,0.0
7009722,2008,12,13,6,749.0,750,901.0,859,DL,1636,...,20.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009723,2008,12,13,6,1002.0,959,1204.0,1150,DL,1636,...,6.0,45.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009724,2008,12,13,6,834.0,835,1021.0,1023,DL,1637,...,5.0,23.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009725,2008,12,13,6,655.0,700,856.0,856,DL,1638,...,24.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,1639,...,13.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,1641,...,8.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [17]:
#for df in pd.read_csv('2008.csv', iterator=True):
    #procesar df por partes

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003,1955,2211,2225,WN,335,...,4,8,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754,735,1002,1000,WN,3231,...,5,10,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628,620,804,750,WN,448,...,3,17,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926,930,1054,1100,WN,1746,...,3,7,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829,1755,1959,1925,WN,3920,...,3,10,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940,1915,2121,2110,WN,378,...,4,10,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [64]:
df[df.WeatherDelay > 0].groupby('OriginCity').Origin.count().sort_values(ascending=False)# Los Aeropuertos con mas delays por mal tiempo

OriginCity
CHI    4
LAX    2
Name: Origin, dtype: int64

In [61]:
df[df.WeatherDelay > 0].groupby('Dest').Dest.count().sort_values(ascending=False)# Los Aeropuertos con mas delays por mal tiempo

Dest
ATL    6537
DFW    4903
ORD    4426
CVG    3531
LGA    2620
DEN    2507
IAH    2414
EWR    2275
PHL    2020
LAX    2010
BOS    1935
JFK    1914
DTW    1783
MSP    1692
LAS    1627
PHX    1580
SFO    1562
BWI    1523
DCA    1402
MCO    1378
CLT    1344
MIA    1316
MDW    1259
RDU    1198
SLC    1194
SEA    1014
CLE     967
TPA     954
STL     923
MCI     904
       ...
PSE       6
HLN       6
CLD       6
LMT       5
RDD       5
STX       5
HTS       4
SLE       4
IPL       3
WYS       3
AKN       3
ALO       3
LWS       3
OXR       3
DLG       3
CDV       3
CIC       3
PLN       3
ADK       2
RHI       2
OTH       2
IYK       2
MKG       2
ACY       2
YKM       2
LWB       2
BJI       1
ITH       1
CDC       1
TEX       1
Name: Dest, dtype: int64

In [67]:
df['Trip'] = df['Origin'] + "->" + df['Dest'] 
df[df.WeatherDelay > 0].groupby('Trip').Trip.count().sort_values(ascending=False)

Trip
DTW->LGA    435
ORD->DFW    418
ORD->CVG    383
ORD->MSP    371
DTW->ORD    370
MIA->EWR    368
DTW->EWR    318
ORD->DTW    303
MSP->LGA    301
ORD->LAX    294
ORD->LGA    266
MSP->ORD    265
ORD->DCA    250
ORD->MIA    238
ORD->ATL    236
ORD->CMH    236
SFO->EWR    232
PHL->BOS    229
ORD->BOS    226
ORD->DEN    215
ORD->EWR    213
MSP->EWR    211
LGA->RDU    208
ORD->SFO    208
ORD->IAH    205
BOS->DCA    202
JFK->BOS    200
ORD->PHL    196
ORD->PHX    194
ORD->SEA    193
           ...
IAD->TYS      1
BOS->ACK      1
MKE->FLL      1
CVG->XNA      1
MIA->SEA      1
ROC->BWI      1
BNA->SEA      1
MIA->ORF      1
MIA->MCI      1
BNA->ONT      1
DAB->EWR      1
MIA->EGE      1
ORF->TPA      1
MKE->LAS      1
ROA->CLT      1
SJU->TPA      1
SJU->ORD      1
SJU->MEM      1
SJU->MCO      1
ORF->MSP      1
SJU->IAD      1
MKE->MCI      1
SJU->FLL      1
SJU->DFW      1
BOS->MEM      1
BOS->MSY      1
BOS->MYR      1
SJU->BDL      1
SJU->ATL      1
LAX->OKC      1
Name: Trip, dtype: int64

In [ ]:
df[df.WeatherDelay > 0].groupby('Month').Month.count()
df.plot()
plt.show()

In [191]:
#with open('airportCodeToCityCode.json') as data_file:    
#    airportToCity = json.load(data_file)
airports = pd.read_csv('airports.csv') 
malClimaSeries = df[df.WeatherDelay > 0].groupby('Origin').Origin.count().sort_values(ascending=False)
malClimaDF = pd.DataFrame({'Origin':malClimaSeries.index, 'Count':malClimaSeries.values})
for i, row in malClimaDF.iterrows():
    if airports[airports["Code"] == row['Origin']].size > 0:
        malClimaDF.loc[i, "OriginState"] = airports[airports["Code"] == row['Origin']].iloc[0].State
var = malClimaDF[malClimaDF.OriginState.notnull()].groupby('OriginState').sum().reset_index()
#var = malClimaDF[malClimaDF.OriginState.isnull()]

   OriginState  Count
0           AK    412
1           AL    745
2           AR    508
3           AZ    890
4           CA   3157
5           CO   3082
6           CT    437
7           DC   1977
8           FL   6270
9           GA   8897
10          HI    229
11          IA    464
12          ID    220
13          IL  14247
14          IN    612
15          KS    188
16          KY    417
17          LA   1013
18          MA   2009
19          MD   1121
20          ME    186
21          MI   3585
22          MN   2630
23          MO   1627
24          MS    312
25          MT    105
26          NC   2076
27          ND     86
28          NE    291
29          NH    381
30          NJ   2747
31          NM    191
32          NV   1269
33          NY   7057
34          OH   4048
35          OK    565
36          OR    402
37          PA   2321
38          PR     37
39          RI    369
40          SC    509
41          SD    105
42          TN   2114
43          TX  15513
44          UT   1182
45          VA    587
46          VI     20
47          VT     86
48          WA   1199
49          WI   1152
50          WV    103
51          WY    155

In [201]:
scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

#HEATMAP
data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = var['OriginState'],
        z = var['Count'].astype(float),
        locationmode = 'USA-states',
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            )
        ),
        colorbar = dict(
            title = "Cantidad de Vuelos Demorados en 2008 por mal clima"
        )
    ) ]

layout = dict(
        title = '2011 US Agriculture Exports by State<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)',
        ),
    )

fig = dict(data=data, layout=layout)

url = plotly.offline.plot(fig, filename='d3-cloropleth-map')